
.page__footer {
  margin: 0;
  padding: 0 30px;

  background-color: #f1f1f1;

  & * {
    margin: 0;
    padding: 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.footer__logo {
  display: none;
}

.social__list,
.social__produced--link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: 100%;
  height: 80px;

  box-sizing: border-box;
}

.social__list {
  justify-content: space-between;

  width: 146px;
}


.social__item {
  width: 30px;
  height: 30px;
}

.social__link {
  display: block;

  font-size: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.insta-link {
  background-image: url(../img/logo-insta.png);
  background-size: 22px 21px;

  &:hover {
    background-image: url(../img/logo-insta-green.png)
  }
}

.fb-link {
  background-image: url(../img/logo-fb.png);
  background-size: 15px 28px;

  &:hover {
    background-image: url(../img/logo-fb-green.png)
  }
}

.tw-link {
  background-image: url(../img/logo-twitter.png);
  background-size: 23px 20px;

  &:hover {
    background-image: url(../img/logo-twitter-green.png)
  }
}

.social__produced--link {
  justify-content: center;
  
  font-weight: bold;

  border-top: 1px solid #e5e5e5;

}

.produced__text {
  font-size: 19px;
  line-height: 18px;
  
  margin-right: 30px;
}



@media(min-width: 768px) {
  .page__footer {
    padding: 0 50px;
  }

  .footer__wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }


  .footer__logo {
    display: flex;
    align-items: center;

    width: 110px;
    height: 34px;

    font-size: 0;

    background: url(../img/logo-footer.png) no-repeat center;
    background-size: 102px 34px;

    &:hover {
      background-image: url(../img/logo-footer-green.png);
    }
  }

  .footer__logo,
  .social__list,
  .social__produced--link {
    display: flex;
    min-height: 140px;
  }

  .social__list {
    position: absolute;
    top: 0;
    left: calc(50% - 73px);
    justify-self: center;
    align-items: center;
  }


  .social__produced--link {
    width: 190px;
  }

}



@media(min-width: 1250px) {
  .page__footer {
    padding: 0 100px;
  }
}