

main {
  background-color: lightsalmon;
} 


.page-main__prodaction {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  padding-top: 55px;

  border: 1px dashed red;
}

.prodaction__wrapper {
  display: flex;
  flex-flow: column nowrap;

  margin: 0;
  padding: 0;
}