@lightgrey: #ececec;
@lightgreen: #62d1ba;

.page-main__reviews {
  position: relative;
  margin: 0;
  padding: 0 30px;
  padding-bottom: 45px;
  background-color: #ffffff;

  & * {
    margin: 0;
    padding: 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 6px;

    background-image: url(../img/zigzag-line-mobile.png);
    background-repeat: repeat-x;
    background-size: auto 6px;
  }
}

.reviews__wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__user {
  display: flex;
  flex-flow: column wrap;

  color: #444444;
}

.reviews__user-text {
  line-height: 30px;


  margin-bottom: 25px;
}

.reviews__user-login {
  margin-bottom: 30px;
}

.reviews__user-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  color: #000000;
}

.reviews__user-nickname {
  font-size: 17px;
  line-height: 30px;
}

.button__list {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  margin-bottom: 35px;
  
  border: 1px solid @lightgrey;
}

.button__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
}

.item-back {
  border-right: 1px solid @lightgrey;
}

.reviews-button {
  position: relative;
  display: block;
  width: 50px;
  height: 4px;
  
  background-color: #000000;

  border: none;
  font-size: 0;

  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;

    width: 4px;
    height: 18px;
    background-color: #000000;
    z-index: 10;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.button-back {
  &::before {
    left: 4px;
    top: -2px;
    transform: rotate(-45deg)
  }

  &::after {
    left: 4px;
    bottom: -2px;
    transform: rotate(45deg)
  }
}

.button-forward {
  &::before {
    right: 4px;
    top: -2px;
    transform: rotate(45deg)
  }

  &::after {
    right: 4px;
    bottom: -2px;
    transform: rotate(-45deg)
  }
}




.reviews__button-write {
  width: 100%;
}



@media(min-width: 768px) {

  .page-main__reviews {
    padding: 0 50px;
    padding-top: 75px;
    min-height: 450px;

    background-image: url(../img/review-bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;

    &::after {
      bottom: -17px;
      height: 17px;

      background-image: url(../img/zigzag-line-tablet.png);
      background-size: auto 17px;
    }
  }

  .reviews__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .reviews__title {
    margin-bottom: 50px;

    order: 1;
  }

  .reviews__button-write {
    margin-bottom: 50px;

    width: 175px;

    order: 2;
  }

  .reviews__user {
    margin: 0;
    
    
    flex-flow: row wrap;
    justify-content: space-between;

    order: 3;
  }

  .reviews__user-text {
    margin-bottom: 60px;
    width: 100%;

    font-size: 17px;
  }

  .reviews__user-login {
    margin: 0;
    
    width: 335px;

  }

  .reviews__user-name {
    font-size: 18px;
  }

  .button__list {
    margin: 0;

    width: 165px;

    border: none;
  }

  .button__item {
    border: none;
  }


}



@media(min-width: 1250px) {

  .page-main__reviews {
    padding-left: 100px;
    padding-right: 100px;

    background-position-x: 100px;

    &::after {
      content: '';

      position: absolute;
      bottom: -23px;
      left: 100px;

      width: calc(100% - 200px);
      height: 23px;
      z-index: 10;

      background-image: url(../img/zigzag-line-desktop.png);
      background-size: auto 23px;
      background-repeat: repeat-x;
    }
  }

  .reviews__wrapper {
    position: relative;
    padding-left: 175px;
  }

  .reviews__user-text {
    width: 770px;

    margin-bottom: 40px;
  }

  .button__list {
    width: 175px;
  }
}